.square {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: grid;
    justify-items: center;
    align-items: center;
    /* grid-area: square; */
}

.grid-container {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-right: 20%;
}

.ttt {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

#ng {
    margin-bottom: 1%;
    margin-left: 6%;
}