header,
.sect_spec_1,
footer {
    background-color: #1f2937;
}

button,
.call_to_action {
    background-color: #3882f6;
    color: #f9faf8;
}

.sect_spec_2 {
    background-color: #e5e7eb;
}


/*
**********************************************************************

                    Styles for elements in header

**********************************************************************
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 20px 10%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo_text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

li {
    display: flex;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    flex: 1 0 auto;
}

/*
**********************************************************************

                    Styles for image elements

**********************************************************************
*/

.img_med {
    width: 40%;
    height: auto;
}

.img_small {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: solid #3882f6 3px;
}


/*
**********************************************************************

                    Styles for section elements

**********************************************************************
*/

/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_


                    Styles for first section

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/


section {
    height: 5%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_h2 {
    font-size: 48px;
    font-weight: 1000;
}

.desc {
    color: #f9faf8;
}

button {
    border-radius: 10px;
    border: none;
    padding: 0.3em 1.5em;
}

.sect_spec_1 {
    padding-bottom: 5%;
    padding-top: 5%;
}

.desc p {
    margin: 10px 0;
}


/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_


                    Styles for second section

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
*/