<h1>Hello,
<%if user_signed_in?%> <%= current_user.first_name%>
<%else%>
    guest
<%end%>
</h1>

<%if user_signed_in?%>
    <% if @event.creator.id == current_user.id%>
        <%= link_to "Delete article", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }, class:"btn btn-danger" %>
    <%else%>
        <%= button_to 'Attend',  attendees_path(@event, current_user), data: { turbo_method: :post }%>
    <%end%>
<%end %>